*.backup
Blockchain/bin
Blockchain/compose/organizations
Blockchain/organizations/fabric-ca
*.log
*.tar.gz
*.block
Blockchain/network/healthcare-contract.tar.gz
Blockchain/network/channel-artifacts/

# BACKEND
backend/node_modules
backend/.env
backend/wallet